html,
body,
#__nuxt {
  height: 100%;
  overflow: auto;
  transition: color, background-color 0.3s ease-in-out;
  font-family: 'Varela Round', 'Noto Sans SC', -apple-system, sans-serif;
}

html.dark {
  color: #fff;
  background-color: #222;
}
